{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="Modifier le mot de passe" %}

<section class="">
  <div class="container">
    <div class="row auth-form py-5 mx-1">

      {% if validlink %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Enregistrer</button>
        </form>
      {% else %}
        <p>
          Le lien de réinitialisation de mot de passe est invalide. Il est possible qu'il ait déjà été utilisé.
          Veuillez recommencer la procédure.
        </p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}